*{
    margin: 0;
    padding: 0;
    box-sizing: border;
}

body{
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    height: 100px;
    background-color:var(--cor1);
}

footer{
    width: 100%;
    height: 150px;
    background-color:var(--cor1);
}

main{
    height: 100vh;
}

:root{
    --cor1: #3F3D56;
    --cor2:#6C63FF;
    --cor3:#8FED9F;
    --cor4:#D0CDE1;
    --cor5:#ffff;
    --cor6:black;
}

/* COMECE PEÇA ESTILIZAÇAO MOBILE  */

@media only screen and (max-width: 844px) {

/* EStilizaçoes header landing-page mobile */


.landing-page{
    display: flex;
    align-items: center;
justify-content:space-around;
}

.logo-Lp {
    margin-left: -50px;
}
.logo-Lp img{
 width: 80px;
}

.icons-header{
    margin-right: -50px;
    margin-top: 30px;
}
.acertar img{
    width: 25px;
}

.icons-header  a img{width: 30px;
margin: 8px;
cursor: pointer;}



/* ESTILIZAÇOES DE TODAS AS OUTRAS PAGS */

.est-geral1{
    display: flex;
    align-items: center;
justify-content:space-around;
}

.logo-geral1 {
    margin-left: -50px;
}
.logo-geral1 img{
 width: 80px;
}


/* SIDE_NAV */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
   right: 0;
    background-color:var(--cor4);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
.menu-vertical{
    display: none;
}

.menu-vertical{
    display: none;
}
.search{
    display: none;
}
.btn-header{
    display: none;
}
}




/* FAÇA A ESTILIZAÇAO DO DESKTOP */

@media only screen and (min-width: 844px){

    
    .landing-page{
        display: flex;
        align-items: center;
    justify-content:space-around;
    }
    
    .logo-Lp {
        margin-left: -50px;
    }
    .logo-Lp img{
     width: 80px;
    }
    
    .sidenav{
        display: none;
    }
    .btn-sidenav{
        display: none;
    }
}




