/* COMECE PEÇA ESTILIZAÇAO MOBILE  */

@media only screen and (max-width: 844px) {
    body{height: 300vh;}


    main{width: 100%;
        height: 330vh;
        max-height: 330vh;
    }

    .container-main{
        width: 100%;
        height: 330vh;
        display: flex;
        flex-direction: column;
        max-height: 330vh;
    }


.container-main .img-main img{
    width: 100%;
    height: 250px;
}

.container-main aside{
    background-color: var(--cor4);
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: -5px;
    padding-left: 10px;
    font-size: 0.8em;
}

.container-main aside h1{
   
    color: var(--cor1);
}


.container-main .conteudo-main .text-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    
 
}
.container-main .conteudo-main .text-main h1{
    font-size: 1.6em;
    font-weight: 500;
    margin-bottom: 25px;

}

.container-main .conteudo-main .text-main p{
  color:var(--cor8);
    font-size: 0.8em;
letter-spacing: 1px;
margin-top: 15px;
text-align: center;


}

.conteudo{
    width: 100%;
    margin: 0 auto;
   
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}


#css-titulo{
   margin-top: 100px;
}

#conteudo-main2{
  
}


.produto-main{
    width: 80%;
    height: 400px;
    overflow: hidden;
    overflow:auto; 
}
.header-prod{
    width: 100%;
    height: 50px;
    background-color: var(--cor4);
    display: flex;
    justify-content: space-around;
    
}

.header-prod .logo-prod-header img{
    width: 80px;
    margin-left: -40px
}

.header-prod .menu-prod-header{
    width:100px ;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: -30px;
}

.header-prod .menu-prod-header a{
    margin-left: 5px;
    font-size: 0.6em;
    text-decoration: none;
    color: var(--cor5);
    font-weight: 500;
}

.header-prod .menu-prod-header a:link{
  color: var(--cor1);
}

.main-prod{
    width: 100%;
    height: 100vh;
  display: flex;
  
}


.menu-lateral{
width: 130px;
background-color: var(--cor1);

}

.conteudo-main-prod{
    width: 100%;
background-color:var(--cor7);
}

.menu-lateral .conteudo-menu-lateral-prod{
    width:100px;
    display: flex;
    flex-direction: column;
    
}

.menu-lateral .conteudo-menu-lateral-prod h1{
    color: var(--cor3);
    margin: 30px 0px 15px 5px;
    font-size: 0.9em;
}

.menu-lateral .conteudo-menu-lateral-prod a{
    font-size: 0.5em;
    margin-top: 20px;
    text-decoration: none;
    color: var(--cor5);
    padding-left: 10px;
    
}

.info-prod{
    width: 70%;
    height: 500px;
    
    margin-top: 40px;
}

.info{
    width: 100%;
    height: 80px;
   background-color: var(--cor4);
    margin-top: 60px;
  border-radius: 5px;
  display: flex;
}

.info p{
    position: relative;
    width: 80%;
    font-size:0.8em;
    left: -20px;
    top: 20px;
    color: var(--cor1);
    font-weight: bold;
}

.info div{
    width: 60px;
    height: 60px;
    border-radius:180px ;
    position: relative;
    left: -30px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor5);
    background-color: var(--cor2);
}

}







/* FAÇA A ESTILIZAÇAO DO DESKTOP */

@media only screen and (min-width: 844px){





    


}