/* COMECE PEÇA ESTILIZAÇAO MOBILE  */

@media only screen and (max-width: 844px) {
    body{height: 300vh;}


    main{width: 100%;
        height: 300vh;
    }

    .container-main{
        width: 100%;
        height: 300vh;
        display: flex;
        flex-direction: column;
       background-color: brown;
    }


.container-main .img-main img{
    width: 100%;
    height: 250px;
}

.container-main aside{
    background-color: var(--cor4);
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: -5px;
    padding-left: 10px;
    font-size: 0.8em;
}

.container-main aside h1{
   
    color: var(--cor1);
}


.container-main .conteudo-main .text-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    
 
}
.container-main .conteudo-main .text-main h1{
    font-size: 1.6em;
    font-weight: 300;

}

.container-main .conteudo-main .text-main p{
  
    font-size: 0.5em;
letter-spacing: 1px;
margin-top: 15px;
text-align: center;


}

.conteudo{
    width: 100%;
    margin: 0 auto;
   
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}


#css-titulo{
   margin-top: 100px;
}

#conteudo-main2{
  
}


.produto-main{
    width: 80%;
    height: 400px;
    overflow: hidden;
    overflow:auto; 
}
.header-prod{
    width: 100%;
    height: 50px;
    background-color: var(--cor4);
   
    
}

.main-prod{
    width: 100%;
    height: 100vh;
  display: flex;
  
}


.menu-lateral{
width: 100px;
border: 1px solid black;
background-color: var(--cor1);


}

.conteudo-main-prod{
    width: 100%;
background-color:var(--cor7);
}

.info-prod{
    width: 70%;
    height: 500px;
   
    margin-top: 40px;
}

.info{
    width: 100%;
    height: 80px;
   background-color: var(--cor4);
    margin-top: 60px;
  border-radius: 5px;
}

.info div{
    width: 60px;
    height: 60px;
    border-radius:180px ;
    position: relative;
    left: -30px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor5);
    background-color: var(--cor2);
}

}







/* FAÇA A ESTILIZAÇAO DO DESKTOP */

@media only screen and (min-width: 844px){





    


}